.pattern-content {
  .card {
    height: 100%;
    transition: all 0.3s;
    &__icon {
      font-size: 2rem;
      margin-right: 0.7rem;
      position: relative;
      top: 4px;
      color: $color-highlight;
    }
    &__label {
      font-size: 1.2rem;
      font-weight: 600;
      color: $color-highlight;
    }
    &__description {
      font-size: 0.9rem;
      line-height: 1.4rem;
      font-weight: 400;
      color: $color-text;
    }
    &__link {
      width: 100%;
      font-size: 1rem;
      margin-top: 0.8rem;
      text-transform: capitalize;
      text-align: center;
      padding: 0.2rem 1rem;
      border-radius: 6px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
