.ptn-sidebar {
  width: 250px;
  height: 100%;
  background-color: $color-sidebar; /* Color de fondo del sidebar */
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;

  &__item {
    padding: 10px 20px;
    color: $color-sidebar-text; /* Color del texto en el sidebar */
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #a7626b; /* Color de fondo al pasar el cursor */
    }
  }
  & > h1 {
    color: $color-sidebar-text; /* Color del texto del título */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 20px;
  }
}
