$color-sidebar: #af0241;
$color-text: #37383b;
$color-bold: #37383b;
$color-code: #7d7f81;
$color-sidebar-text: #fdfdfd;
$color-highlight: #af0241;
$color-breadcrumb: #925867;
$color-title: #a50246;
$color-subtitle: #6b6668;
$color-link: #6b6668;
$color-banner: #a8432c;
$color-icon: #af0241;
$color-bolder: #028faf;
$color-background: #f8f2ebc9;
$color-line: #d6d6d6;

$color-error: #5b1f35;
$color-info: #028eb0;
$color-success: #099713;
