// $color-sidebar: #333333;
// $color-text: #4f5156;
// $color-highlight: #1976d2;
// $color-title: #1976d2;
// $color-banner: #1976d2;

$color-sidebar: #1c1c1c;
$color-text: #4f5156;
$color-highlight: #af0241;
$color-breadcrumb: #925867;
$color-title: #a8432c;
$color-banner: #a8432c;
$color-icon: #af0241;
$color-bolder: #028faf;
$color-background: #f5f5f5;
$color-line: #d6d6d6;

$color-error: #5b1f35;
$color-info: #028eb0;
$color-success: #02b00f;
