// $color-sidebar: #333333;
// $color-text: #4f5156;
// $color-highlight: #1976d2;
// $color-title: #1976d2;
// $color-banner: #1976d2;

$color-sidebar: #1c1c1c;
$color-text: #4f5156;
$color-highlight: #2f819c;
$color-breadcrumb: #925867;
$color-title: #925867;
$color-banner: #925867;
$color-background: #f5f5f5;
$color-line: #d6d6d6;
