.ptn-section {
  position: relative;
  width: 100%;

  &--overflow {
    overflow-y: auto;
  }

  &__content {
    margin-top: 1rem;
    padding: 0 0.5rem;
  }

  &__header {
    font-weight: bold;
    text-transform: uppercase;
    width: calc(100%);
    color: $color-title;
    padding: 1rem 1rem 0px;
    margin-top: 0.5rem;
    .ptn-text--heading {
      color: $color-title;
    }
    .ptn-text--heading {
      font-size: 3rem;
    }
  }

  &__subheader {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    position: relative;
    padding: 0 0.5rem;
    color: $color-title;
    display: flex;
    align-items: center;
    .ptn-text--heading {
      font-size: 1.5rem;
    }
    svg {
      font-size: 2rem;
      margin-right: 0.5rem;
      color: $color-icon;
    }
  }

  // &:before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   height: 7px;
  //   width: 55px;
  //   background-color: $color-title;
  // }

  &__helper {
    margin-top: 0.2rem;
    padding-left: 1.2rem;
    color: $color-subtitle;
    margin-bottom: 2.5rem;
    &--marginless {
      margin-bottom: 0px;
    }
  }

  &--bordered {
    padding: 0 1rem 2rem;
    border: 1px solid $color-code;
    border-radius: 8px;
  }

  &--top-adjust {
    margin-top: -22rem;
    margin-bottom: 2rem;
  }
}
