.ptn-button {
  background-color: #007bff;
  display: inline-block;
  padding: 6px 8px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  &:hover {
    opacity: 0.8;
    background-color: #0062cc;
    color: #fff;
  }
  &--large {
    width: 100%;
  }
  &--small {
    width: auto;
    font-weight: 500;
  }
}
