.ptn-button {
  background-color: #007bff;
  color: #fff;
  width: auto;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #0062cc;
    color: #fff;
  }
  &--large {
    width: 100%;
  }
}
