.ptn-divider {
  margin: 20px 0;
  border: none;
  &--horizontal {
    height: 1px;
    border-bottom: 2px solid $color-line;
    width: 100%;
  }
  &--vertical {
    height: 100%;
    width: 1px;
    border-left: 2px solid $color-line;
  }
}
