.ptn-input {
  border: 1px solid $color-line; /* Borde resaltado */
  border-radius: 4px; /* Bordes redondeados */
  padding: 0.2rem 0.6rem; /* Padding interno */
  max-height: 30px;
  font-size: 1.1rem;
  outline: none; /* Eliminar contorno al hacer foco */
  transition: border-color 0.3s;
  width: 100%;
  min-height: 35px;
  color: $color-text;
}

div[class$='control'] {
  input {
    color: $color-text;
  }
  border: 1px solid $color-line;
  div[class$='indicatorContainer'] {
    color: 1px solid $color-line;
  }
  div[class$='indicatorSeparator'] {
    border: $color-line;
  }
}
