.ptn-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  gap: 1.5rem;

  &--start {
    align-items: flex-start;
  }
  &--end {
    align-items: flex-end;
  }
  &--center {
    align-items: center;
  }

  &--4-item > * {
    width: calc(94% / 4);
  }
  &--1-item > * {
    width: calc(100%);
  }
  &--2-item > * {
    width: calc(93% / 2);
  }

  &--3-item > * {
    width: calc(94% / 3);
  }

  &--6-item > * {
    width: calc(88% / 6);
  }

  .mermaid ~ * {
    max-width: 100%;
  }
}
